<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" href="{% static 'roadmap/js/handsontable/dist/handsontable.full.min.css' %}">
    <link rel="stylesheet" href="{% static 'roadmap/js/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'roadmap/css/roadmap.css' %}">
    <script src="{% static 'roadmap/js/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'roadmap/js/csrf.js' %}"></script>
    <script src="{% static 'roadmap/js/handsontable/dist/handsontable.full.min.js' %}"></script>
    <script src="{% static 'roadmap/js/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="  #navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'roadmap:index' %}">Roadmap</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
      {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
