{% extends 'roadmap/base.html' %}

{% block title %}{{ report.name }} {{ period.name }}{% endblock %}

{% block content %}

  <h2>{{ report.name }} {{ period.name }}</h2>

  <p>
    <button name="load" id="checkin_load">Load</button>
  </p>

  <div id="checkin_console" class="console">Click "Load" to load data from server</div>
  <div id="checkin_table"></div>

  <script>
    var
      $$ = function(id) {
        return document.getElementById(id);
      },
      container = $$('checkin_table'),
      checkinConsole = $$('checkin_console'),
      load = $$('checkin_load'),
      save = $$('checkin_save'),
      hot,
      cold,
      csrftoken = '{{ csrf_token }}';

    hot = new Handsontable(container, {
      columnSorting: true,
      rowHeaders: true,
      colHeaders: false,
      contextMenu: true,
      renderer: "html",
      readOnly: true
    });

    Handsontable.Dom.addEvent(load, 'click', function() {
      $.ajax({
        url: '{% url 'roadmap:checkin_load' report.id period.id %}',
        data: {},
        dataType: 'json',
        type: 'POST',
        success: function (res) {
          hot.loadData(res.data);
          cold = [];
          checkinConsole.innerText = 'Data loaded';
        }
      });
    });

    load.click();
  </script>

{% endblock %}
