<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ mark.name}}</title>

{% load staticfiles %}

  <script src="{% static 'roadmap/js/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'roadmap/js/csrf.js' %}"></script>
  <script src="{% static 'roadmap/js/handsontable/dist/handsontable.full.js' %}"></script>
  <link rel="stylesheet" media="screen" href="{% static 'roadmap/js/handsontable/dist/handsontable.full.css' %}">

</head>

<body>

          <h2>{{ mark.name}}</h2>

          <p>
            <button name="load" id="mark_load">Load</button>
            <button name="save" id="mark_save">Save</button>
          </p>

          <div id="mark_console" class="console">Click "Load" to load data from server</div>

          <div id="mark_table"></div>

          <script>
            var
              $$ = function(id) {
                return document.getElementById(id);
              },
              container = $$('mark_table'),
              markConsole = $$('mark_console'),
              load = $$('mark_load'),
              save = $$('mark_save'),
              hot,
              csrftoken = '{{ csrf_token }}';

            hot = new Handsontable(container, {
              columnSorting: true,
              startRows: 1,
              startCols: 6,
              rowHeaders: true,
              colHeaders: ['Organisation', 'Fact', 'Check', 'Plan'],
              columns: [
                {data: 'organisation'},
                {data: 'fact'},
                {data: 'check'},
                {data: 'plan'}
              ],
              minSpareCols: 0,
              minSpareRows: 0,
              contextMenu: true,
            });

            Handsontable.Dom.addEvent(load, 'click', function() {
              $.ajax({
                url: '{% url 'roadmap:mark_load' report.id period.id mark.id %}',
                data: {},
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                  hot.loadData(res.data);
                  markConsole.innerText = 'Data loaded';
                }
              });
            });

            Handsontable.Dom.addEvent(save, 'click', function() {
              $.ajax({
                url: '{% url 'roadmap:mark_save' report.id period.id mark.id %}',
                data: {
                  data: JSON.stringify({data: hot.getSourceData()})
                }, // returns all cells' data
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                  if (res.result === 'ok') {
                    markConsole.innerText = 'Data saved';
                    load.click();
                  }
                  else {
                    markConsole.innerText = 'Save error';
                  }
                },
                error: function () {
                  markConsole.innerText = 'Save error';
                }
              });
            });

            load.click();
          </script>

</body>
</html>
